@model Order

@{
    ViewBag.Title = "Edit Order";
}

<h1>Edit Order #@Model.OrderId</h1>

<form asp-action="ModifyOrder">
    @* Payment *@
    <label style="font-weight: bold; font-size: 1.5rem;">Payment</label>
    @foreach (var payment in ViewBag.Payments as List<Payment>)
    {
        <div class="form-check">
            @{bool isChecked = Model.PaymentId == payment.PaymentId;}

            <input type="radio" class="form-check-input" id="@payment.PaymentId" name="assignedPayment" value="@payment.PaymentId"
            @(isChecked ? "checked" : "") />

            <label class="form-check-label" for="@payment.PaymentId">Payment #@payment.PaymentId - @payment.PaymentTime.ToString("g") - $@payment.Amount</label>
        </div>
    }

    @* Delivery *@
    <label style="font-weight: bold; font-size: 1.5rem;">Delivery</label>
    @foreach (var delivery in ViewBag.Deliveries as List<Delivery>)
    {
        <div class="form-check">
            @{bool isChecked = Model.DeliveryId == delivery.DeliveryId;}

            <input type="radio" class="form-check-input" id="@delivery.DeliveryId" name="assignedmPayment" value="@delivery.DeliveryId"
            @(isChecked ? "checked" : "") />

            <label class="form-check-label" for="@delivery.DeliveryId">Delivery #@delivery.DeliveryId</label>
        </div>
    }

    @* Customers *@
    <label style="font-weight: bold; font-size: 1.5rem;">Customers</label>
    @foreach (var customer in ViewBag.Customers as List<Customer>)
    {
        <div class="form-check">
            @{
                bool isChecked = Model.Customers.Any(c => c.CustomerId == customer.CustomerId);
            }

            <input type="checkbox" class="form-check-input" id="@customer.CustomerId" name="assignedCustomers" value="@customer.CustomerId"
            @(isChecked ? "checked" : "") />

            <label class="form-check-label" for="@customer.CustomerId">@customer.Name</label>
        </div>
    }

    @* Menu Items *@
    <label style="font-weight: bold; font-size: 1.5rem;">Menu Items</label>
    @foreach (var menuItem in ViewBag.MenuItems as List<MenuItem>)
    {
        <div class="form-check">
            @{
                bool isChecked = Model.MenuItems.Any(i => i.MenuItemId == menuItem.MenuItemId);
            }

            <input type="checkbox" class="form-check-input" id="@menuItem.MenuItemId" name="assignedMenuItems" value="@menuItem.MenuItemId"
            @(isChecked ? "checked" : "") />

            <label class="form-check-label" for="@menuItem.MenuItemId">@menuItem.Name</label>
        </div>
    }

    <input type="hidden" name="orderId" value="@Model.OrderId" />

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

