@model List<Customer>
@{
    ViewBag.Title = "Customers";
}

@* THIS IS CUSTOMER *@

@* MAKE FUNCTION `AddCustomer` here *@
<a asp-action="AddCustomer" class="btn btn-primary">Add New Customers</a>

<h1>List of Customers</h1>

<table class="table table-striped">
    <thead>
     <th>ID</th>
    <th>Name</th>
    <th>Contact Info</th>
    <th>Order(s)</th>
    <th>Reservation(s)</th>
    <th>Payment(s)</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Name</td>
                <td>@customer.ContactInfo</td>
                @* Implement below methods *@
                <td>
                    <a asp-action="ViewOrders" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" class="btn btn-info">View Order(s)</a>
                </td>
                <td>
                    <a asp-action="ViewReservations" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" class="btn btn-info">View Reservation(s)</a>
                </td>
                <td>
                    <a asp-action="ViewPayments" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" class="btn btn-info">View Payment(s)</a>
                </td>
                <td>
                    <a asp-action="EditCustomer" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" class="btn btn-info">Edit Customer</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>