@model List<Order>

@{
    ViewBag.Title = "Order(s) Details";
}

<div class="add-container">

    <h1 class="add-text">Order(s) Details</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Time</th>
                <th>Payment ID</th>
                <th>Delivery ID</th>
                <th>Customer(s)</th>
                <th>Menu Item(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderTime</td>
                    <td>
                        @if (@order.PaymentId != null)
                        {
                            <a asp-action="ViewPayment" asp-controller="Order" asp-route-paymentId="@order.PaymentId" class="btn edit-menu-btn">View Payment #@order.PaymentId</a>
                        }
                        else
                        {
                            <span>No Payment Info</span>
                        }
                    </td>
                    <td>
                        @if (@order.DeliveryId != null)
                        {
                            <a asp-action="ViewDelivery" asp-controller="Order" asp-route-deliveryId="@order.DeliveryId" class="btn edit-menu-btn">View Delivery #@order.DeliveryId</a>
                        }
                        else
                        {
                            <span>No Delivery Info</span>
                        }
                    </td>
                    <td>
                        <a asp-action="ViewCustomers" asp-controller="Order" asp-route-orderId="@order.OrderId" class="btn edit-menu-btn">View Customer(s)</a>
                    </td>
                    <td>
                        <a asp-action="ViewMenuItems" asp-controller="Order" asp-route-orderId="@order.OrderId" class="btn edit-menu-btn">View MenuItem(s)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>