@model List<Kitchen>
@{
    ViewBag.Title = "Kitchens";
}

@* THIS IS KITCHEN *@

<a asp-action="AddKitchen" class="btn btn-primary">Add New Kitchen Order</a>

<h1>List of Kitchen Processes</h1>

<form asp-action="ChangeMenuItems" method="post" id="menuItemForm">
    <div>
        <label class="form-label">Filter With Menu Item</label>

        <select class="form-control" id="menuItemSelect" name="menuItemId">

            <option value="">Select Menu Item</option>

            @foreach (MenuItem menuItem in ViewBag.MenuItems)
            {
                if (ViewBag.SelectedMenuItems != null && ViewBag.SelectedMenuItems == menuItem.MenuItemId)
                {
                    <option value="@menuItem.MenuItemId" selected>@menuItem.Name</option>
                }
                else
                {
                    <option value="@menuItem.MenuItemId">@menuItem.Name</option>
                }
            }

        </select>
    </div>

    <script>
        var selectElement = document.getElementById('menuItemSelect');
        //Add event listener for change event
        selectElement.addEventListener(
            'change', 
            function () 
            {
            var formElement = document.getElementById('menuItemForm');
            formElement.submit();
            }
        )
    </script>

</form>

<table class="table table-striped">
    <thead>
    <th>Menu Item</th>
    <th>Order Time</th>
    <th>State</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>

    <tbody>
        @foreach (var kitchen in Model)
        {
            <tr>
                <td>@kitchen.MenuItem.Name</td>
                <td>@kitchen.OrderTime</td>
                <td>@(kitchen.IsPrepared ? "Done" : "Not Done")</td>
                <td>
                    <a asp-action="EditKitchen" asp-controller="Kitchen" asp-route-kitchenId="@kitchen.KitchenId" class="btn btn-info">Edit Kitchen Status</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Kitchen" asp-route-kitchenId="@kitchen.KitchenId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>