@model Menu
@{
	ViewBag.Title = "Edit Menu";
}

<div class="edit-menu-cont">
	<h1 class="edit-menu-text">Edit Menu Details for @Model.Name</h1>

	<form asp-action="ModifyMenu">
		@* Name *@
		<label style="font-weight: bold; font-size: 1.5rem;">Menu Name</label>
		<input type="text" id="name" name="name" class="form-control" value="@Model.Name" />

		@* Description *@
		<label style="font-weight: bold; font-size: 1.5rem;">Menu Description</label>
		<input type="text" id="description" name="description" class="form-control" value="@Model.Description" />

		<label style="font-weight: bold; font-size: 1.5rem;">Menus</label>

		@foreach(var menuItem in ViewBag.MenuItems)
		{
			<div class="form-check">
				@{
					bool isChecked = Model.Items.Any(i => i.MenuItemId == menuItem.MenuItemId);
				}

				<input type="checkbox" class="form-check-input" id="@menuItem.MenuItemId" name="assignedMenuItems" value="@menuItem.MenuItemId"
				@(isChecked ? "checked": "")/>

				<label class="form-check-label" for="@menuItem.MenuItemId">@menuItem.Name</label>
			</div>
		}
		<input type="hidden" name="menuId" value="@Model.MenuId"/>

		<button type="submit" class="save-btn">Save Changes</button>
	</form>
</div>