@model List<Menu>  
@{
	ViewBag.Title = "Menus";
}

@* THIS IS MENU *@
<div class="menu-container">

    <h1 class="menu-text text-center">List of Menus</h1>

    <a asp-action="AssignMenu" class="btn btn-primary new-menu-btn">Add New Menu</a>

    <form asp-action="ChangeMenuItems" method="post" id="menuItemForm">
        <div>
            <label class="form-label">Filter With Menu Item</label>

            <select class="form-control" id="menuItemSelect" name="menuItemId">

                <option value="">Select Menu Item</option>

                @foreach (MenuItem menuItem in ViewBag.MenuItems)
                {
                    if (ViewBag.SelectedMenuItems != null && ViewBag.SelectedMenuItems == menuItem.MenuItemId)
                    {
                        <option value="@menuItem.MenuItemId" selected>@menuItem.Name</option>
                    }
                    else
                    {
                        <option value="@menuItem.MenuItemId">@menuItem.Name</option>
                    }
                }

            </select>
        </div>

        <script>
            var selectElement = document.getElementById('menuItemSelect');
            //Add event listener for change event
            selectElement.addEventListener(
                'change', 
                function () 
                {
                    var formElement = document.getElementById('menuItemForm');
                    formElement.submit();
                }
            )
        </script>

    </form>

    <table class="table table-striped">
	    <thead>
            <th>ID</th>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Edit</th>
            <th>Delete</th>
	    </thead>

	    <tbody>
		    @foreach (var menu in Model)
		    {
			    <tr>
                    <td>@menu.MenuId</td>
				    <td>@menu.Name</td>
				    <td>@menu.Description</td>
				    <td>
					    <a asp-action="EditMenu" asp-controller="Menu" asp-route-menuId="@menu.MenuId" class="btn btn-info">Edit Menu</a>
				    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Menu" asp-route-menuId="@menu.MenuId" class="btn btn-danger">Delete</a>
                    </td>
			    </tr>
		    }
	    </tbody>
    </table>

</div>
