@model Delivery
@{
    ViewBag.Title = "Edit Delivery";
}

<h1>Edit Delivery #@Model.DeliveryId</h1>

<form asp-action="ModifyDelivery" method="post">

    @* Delivery Time *@
    <label for="deliveryTime" style="font-weight: bold; font-size: 1.5rem;">Delivery Time</label>
    <input type="datetime-local" id="deliveryTime" name="deliveryTime" class="form-control" value="@Model.DeliveryTime.ToString("yyyy-MM-ddTHH:mm:ss")" />

    @* Delivery Address *@
    <label for="deliveryAddress" style="font-weight: bold; font-size: 1.5rem;">Delivery Address</label>
    <input type="text" id="deliveryAddress" name="deliveryAddress" class="form-control" value="@Model.DeliveryAddress" />

    @* Contact Number *@
    <label for="contactNumber" style="font-weight: bold; font-size: 1.5rem;">Contact Number</label>
    <input type="text" id="contactNumber" name="contactNumber" class="form-control" value="@Model.ContactNumber" />

    @* Order *@
    <label style="font-weight: bold; font-size: 1.5rem;">Order</label>
    @foreach (var order in ViewBag.Orders as List<Order>)
    {
        <div class="form-check">
            @{
                bool isChecked = Model.DeliveryId == order.DeliveryId;
            }

            <input type="radio" class="form-check-input" id="@order.OrderId" name="assignedOrder" value="@order.OrderId"
            @(isChecked ? "checked" : "") />

            <label class="form-check-label" for="@order.OrderId">Order #@order.OrderId</label>
        </div>
    }

    <input type="hidden" asp-for="DeliveryId" />

    <button type="submit" class="btn btn-primary">Edit Delivery</button>

</form>
