@model Statistics
@{
    ViewBag.Title = "Edit Statistics";
}
<div class="add-container">

    <h1 class="add-text">Edit Statistics Details</h1>

    <form asp-action="ModifyStatistics">

        <div>
            <h3 class="menu-name-text">Select a Menu Item</h3>

            @foreach (var menuItem in ViewBag.MenuItems as List<MenuItem>)
            {
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="@menuItem.MenuItemId" name="assignedMenuItem" value="@menuItem.MenuItemId"
                    @(Model.MenuItemId == menuItem.MenuItemId ? "checked" : "") />

                    <label class="form-check-label" for="@menuItem.MenuItemId">@menuItem.Name</label>
                </div>
            }
        </div>

        <div>
            <label asp-for="NumberOfOrders" class="menu-name-text">Number Of Orders</label>
            <input asp-for="NumberOfOrders" class="form-control" placeholder="@Model.NumberOfOrders" />
        </div>

        <div>
            <label asp-for="AverageOrderTime" class="menu-name-text">Average Order Time (in minutes)</label>
            <input asp-for="AverageOrderTime" class="form-control" placeholder="@Model.AverageOrderTime" />
        </div>

        <div>
            <label asp-for="RecordedDate" class="menu-name-text">Recorded Date</label>
            <input asp-for="RecordedDate" class="form-control" type="date" value="@Model.RecordedDate.ToString("yyyy-MM-dd")" />
        </div>

        <input type="hidden" name="statisticsId" value="@Model.StatisticsId" />

        <button type="submit" class="btn save-btn">Save Changes</button>
    </form>
</div>