@model List<Payment>
@{
    ViewBag.Title = "Payment";
}

@* THIS IS PAYMENT *@

@* MAKE FUNCTION `AddPayment` here *@
<a asp-action="AddPayment" class="btn btn-primary">Add New Payment</a>

<h1>List of Payments</h1>

@* MAKE FUNCTION `ChangeOrder` here *@
<form asp-action="ChangeOrder" method="post" id="orderForm">
    <div>
        <label class="form-label">Filter by Order ID</label>

        <select class="form-control" id="orderSelect" name="orderId">

            <option value="">Select Order ID</option>

            @foreach (Order order in ViewBag.Orders)
            {
                if (ViewBag.SelectedOrders != null && ViewBag.SelectedOrders == order.OrderId)
                {
                    <option value="@order.OrderId" selected>Order #@order.OrderId</option>
                }
                else
                {
                    <option value="@order.OrderId">Order #@order.OrderId</option>
                }
            }

        </select>
    </div>

    <script>
        var selectElement = document.getElementById('orderSelect');
        //Add event listener for change event
        selectElement.addEventListener(
            'change',
            function () {
                var formElement = document.getElementById('orderForm');
                formElement.submit();
            }
        )
    </script>

</form>

<table class="table table-striped">
    <thead>
    <th>Payment Time</th>
    <th>Order</th>
    <th>Customer(s)</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>

    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                @* SO MANY METHODS TO IMPLEMENT *@
                <td>@payment.PaymentTime</td>
                <td>
                    <a asp-action="ViewOrder" asp-controller="Payment" asp-route-orderId="@payment.OrderId" class="btn btn-info">View Order</a>
                </td>
                <td>
                    <a asp-action="ViewCustomers" asp-controller="Payment" asp-route-paymentId="@payment.PaymentId" class="btn btn-info">View Customer(s)</a>
                </td>
                <td>
                    @if (payment.PaymentType == 1)
                    {
                        @:Cash
                    }
                    else if (payment.PaymentType == 2)
                    {
                        @:Card
                    }
                    else
                    {
                        @:Unknown
                    }
                </td>
                <td>@payment.Amount</td>
                <td>@(payment.PaymentStatus ? "Completed" : "Incompleted")</td>
                <td>
                    <a asp-action="EditPayment" asp-controller="Payment" asp-route-paymentId="@payment.PaymentId" class="btn btn-info">Edit Payment</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Payment" asp-route-paymentId="@payment.PaymentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>