@model List<Delivery>
@{
    ViewBag.Title = "Delivery Details";
}

<h1>Delivery Details</h1>

<table class="table table-striped">
    <thead>
    <th>Delivery ID</th>
    <th>Delivery Time</th>
    <th>Delivery Address</th>
    <th>Contact Number</th>
    <th>Order</th>
    </thead>

    <tbody>
        @foreach (var delivery in Model)
        {
            <tr>
                <td>@delivery.DeliveryId</td>
                <td>@delivery.DeliveryTime</td>
                <td>@delivery.DeliveryAddress</td>
                <td>@delivery.ContactNumber</td>
                <td>
                    <a asp-action="ViewOrder" asp-controller="Delivery" asp-route-customerId="@delivery.OrderId" class="btn btn-info">View Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>